@page "/orders"
@inject IOrderService OrderService

<PageTitle>Orders</PageTitle>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Orders</MudText>

    <MudGrid Spacing="6" Class="mt-16">
        <MudItem xs="12">
            @if (orders == null)
            {
                <span>Loading your orders...</span>
            }
            else if (orders.Count <= 0)
            {
                <span>You have no orders, yet.</span>
            }
            else
            {
                foreach (var order in orders)
                {
                    <div class="container">
                        <div class="image-wrapper">
                            <img src="@order.ProductImageUrl" class="image" />
                        </div>
                        <div class="details">
                            <h4>@order.Product</h4>
                            <span>@order.OrderDate</span><br />
                            <a href="orders/@order.Id" class="order-link">Show more...</a>
                        </div>
                        <div class="order-price">@order.TotalPrice zł</div>
                    </div>
                }
            }
        </MudItem>

    </MudGrid>

</MudContainer>

@code {
    List<OrderOverviewResponse> orders = null;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }
}
