@page "/orders"
@inject IOrderService OrderService

<div class="container">
    <div class="col-12">
        <div class="mb-4">
            <h2 class="mb-0">Your Orders</h2>
        </div>
    </div>

    <div class="col-12 mb-5">
        @if (orders == null)
        {
            <p>Loading your orders...</p>
        }
        else if (orders.Count <= 0)
        {
            <p>You have no orders, yet.</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table text-nowrap">
                    <thead class="table-light">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Product</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in orders)
                        {
                            <tr>
                                <td class="align-middle">
                                    <img src="@order.ProductImageUrl" alt="@order.Product" class="order-image" />
                                </td>
                                <td class="align-middle">
                                    <h6 class="mb-0">@order.Product</h6>
                                </td>
                                <td class="align-middle">
                                    @order.OrderDate
                                </td>
                                <td class="align-middle">
                                    $@order.TotalPrice
                                </td>
                                <td class="align-middle text-muted">
                                    <a href="orders/@order.Id">Show more...</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@code {
    List<OrderOverviewResponse> orders = null;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }
}