@page "/order-success"
@inject ICartService CartService

<PageTitle>Thank you!</PageTitle>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Thank you!</MudText>
    <MudText>Thank you for your order! You can check your orders <a href="orders">here</a>.</MudText>
</MudContainer>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }
}
