#navbar-categories .navbar-nav .nav-item:first-child ::deep .nav-link {
    padding-left: 0;
}

#navbar-categories .navbar-nav .nav-item ::deep .nav-link {
    font-size: 1.071rem;
    font-weight: 500;
}

#navbar-categories .navbar-nav .nav-item ::deep .nav-link:focus,
#navbar-categories .navbar-nav .nav-item ::deep .nav-link:hover {
    color: var(--bs-red);
}