@inject NavigationManager NavigationManager
@inject ICategoryService CategoryService
@implements IDisposable


<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    @foreach (var category in CategoryService.Categories)
    {
        <li>
            <NavLink href="@category.Url" class="nav-link px-2 link-dark">
                @category.Name
            </NavLink>
        </li>
    }
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        CategoryService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CategoryService.OnChange -= StateHasChanged;
    }
}