.card h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-product:hover {
    border: 1px solid #E1F4F3;
    box-shadow: 0 5px 12px rgb(0 0 0 / 12%);
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}