@inject NavigationManager NavigationManager

<a @onclick="GoToHome" href="/" class="d-flex align-items-center mb-2 mb-lg-0 me-lg-4 text-dark text-decoration-none">
    <span class="fs-5 fw-semibold">Computer Space</span>
</a>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}

