@inherits LayoutComponentBase

<header>
    <div class="bg-light py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 text-center text-md-start">
                    <span>Super Value Deals - Save more with coupons</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light py-lg-3 pt-3 pb-0">
        <div class="container">
            <div class="row w-100 align-items-center g-0">
                <NavbarBrand />
                <Search />
                <div class="col-md-2 col-xxl-4 text-end d-none d-lg-block">
                    <div class="list-inline">
                        <UserButton />
                        <CartCounter />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<CategoriesNavbar />
<main>
    @Body
</main>
<Footer />