@inherits LayoutComponentBase

<header class="p-3 mb-3 border-bottom">    
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <NavbarBrand/>
            <CategoriesNavbar/>            
            <Search/>
            <CartCounter />
            <UserButton />
        </div>
    </div>
</header>
<main>
    @Body
</main>
<Footer />




