@inherits LayoutComponentBase

<header>
    <div class="bg-light py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 text-center text-md-start">
                    <span>Super Value Deals - Save more with coupons</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-light py-lg-3 pt-3 px-0 pb-0">
        <div class="container">
            <div class="row w-100 align-items-center g-lg-2 g-0">
                <NavbarBrand />
                <Search />
                <ButtonList />                
            </div>
        </div>
    </div>
</header>
<CategoriesNavbar />
<main>
    @Body
</main>
<Footer />