.shop-navbar{
    background-color: var(--mud-palette-white);
    color: var(--mud-palette-black);
}

.mud-expand-panel, .shop-navbar-expand {
    color: var(--mud-palette-appbar-text);
    background-color: var(--mud-palette-appbar-background);
}

.shop-navbar .mud-button {
    text-transform: none;
}

.shop-navbar .mud-expand-panel-header {
    padding: 0px;
    width: 100%;
    height: 100%;
    flex: none;
}
